<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.antigravity.au-wong-choi.healthcheck</string>
  <key>StartCalendarInterval</key>
  <array>
    <dict><key>Hour</key><integer>2</integer><key>Minute</key><integer>30</integer></dict>
    <dict><key>Hour</key><integer>9</integer><key>Minute</key><integer>15</integer></dict>
    <dict><key>Hour</key><integer>11</integer><key>Minute</key><integer>0</integer></dict>
  </array>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>__SCRIPT_DIR__/run_au_auxiliary.sh</string>
    <string>healthcheck</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__PROJECT_ROOT__</string>
  <key>StandardOutPath</key>
  <string>__SCRIPT_DIR__/logs/healthcheck.out</string>
  <key>StandardErrorPath</key>
  <string>__SCRIPT_DIR__/logs/healthcheck.err</string>
  <key>RunAtLoad</key>
  <false/>
</dict>
</plist>
